@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 71px;
	background: #FFFFFF url("../images/205791-page-fr.png") no-repeat center center;
	background-color: rgba(255, 255, 255, 0.75);
	background-size: cover !important;
}

#u328-3
{
	z-index: 43;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -354px;
}

#ppu335-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#pu335-3
{
	width: 0.01px;
	padding-bottom: 3px;
	position: relative;
}

#u335-3
{
	z-index: 2;
	width: 339px;
	min-height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: #0F432B;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	position: relative;
	margin-right: -10000px;
}

#u332-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	width: 76px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 249px;
}

#u314-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	width: 50px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 31px;
}

#u326-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	width: 53px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 143px;
}

#u323-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	width: 39px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 269px;
}

#u319-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	width: 44px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 35px;
}

#u331-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	width: 70px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 134px;
}

#u321-5
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	width: 89px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 243px;
}

#u316-5
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	width: 70px;
	margin-right: -10000px;
	margin-top: 362px;
	left: 22px;
}

#u322-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 153px;
}

#u352
{
	z-index: 46;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u363
{
	z-index: 47;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 116px;
}

#u368
{
	z-index: 48;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 234px;
}

#u373
{
	z-index: 49;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 4px;
}

#u378
{
	z-index: 50;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 116px;
}

#u383
{
	z-index: 51;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 234px;
}

#u388
{
	z-index: 52;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 4px;
}

#u393
{
	z-index: 53;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 116px;
}

#u398
{
	z-index: 54;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 234px;
}

#pu811
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 4px;
	position: relative;
}

#u811
{
	z-index: 56;
	width: 185px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/return-u815-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u811:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/return-u815-r-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u811:active
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/return-u815-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u810
{
	z-index: 55;
	width: 71px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: transparent url("../images/home-u814-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u810:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/home-u814-r-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u810:active
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/home-u814-fr.png") no-repeat left top;
	background-size: contain !important;
}

#page .verticalspacer
{
	clear: both;
}

