@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 71px;
	background: #FFFFFF url("../images/1367744700669-page-fr.png") no-repeat center top;
	background-color: rgba(255, 255, 255, 0.75);
	background-size: cover !important;
}

#u449-3
{
	z-index: 41;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -354px;
}

#ppu446-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#pu446-3
{
	width: 0.01px;
	position: relative;
}

#u446-3
{
	z-index: 2;
	width: 339px;
	min-height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: #7A752F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	position: relative;
	margin-right: -10000px;
}

#u438-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	width: 46px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 265px;
}

#u447-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	width: 44px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 34px;
}

#u454-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	width: 69px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 134px;
}

#u453-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	width: 97px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 240px;
}

#u448-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	width: 45px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 34px;
}

#u437-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 241px;
	left: 159px;
}

#u455-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	width: 71px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 252px;
}

#u440-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	width: 83px;
	margin-right: -10000px;
	margin-top: 362px;
	left: 15px;
}

#u445-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	width: 51px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 144px;
}

#u475
{
	z-index: 44;
	width: 104px;
	height: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 6px;
}

#u480
{
	z-index: 45;
	width: 104px;
	height: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 116px;
}

#u485
{
	z-index: 46;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 234px;
}

#u490
{
	z-index: 47;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 5px;
}

#u495
{
	z-index: 48;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 116px;
}

#u500
{
	z-index: 49;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 234px;
}

#u505
{
	z-index: 50;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 5px;
}

#u510
{
	z-index: 51;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 116px;
}

#u515
{
	z-index: 52;
	width: 105px;
	height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 234px;
}

#pu807
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 8px;
	position: relative;
}

#u807
{
	z-index: 54;
	width: 185px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/return-u815-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u807:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/return-u815-r-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u807:active
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/return-u815-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u806
{
	z-index: 53;
	width: 71px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: transparent url("../images/home-u814-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u806:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/home-u814-r-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u806:active
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/home-u814-fr.png") no-repeat left top;
	background-size: contain !important;
}

#page .verticalspacer
{
	clear: both;
}

